---
permalink: /posts
pagination:
enabled: true
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="{{ 'assets/css/posts.css' | relative_url }}" rel="stylesheet" />
  <link href="/assets/css/navbar.css" rel="stylesheet" />
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header>
    {% include navbar.html %}
  </header>
  <!-- End Header -->

  <div class="main-content">
    <!-- Your main page content -->

    <div class="wrapper" data-aos="fade-up">
      <div class="row" data-aos="fade-up">
        <div class="col-md-2" data-aos="fade-up">
          <h2>Posts</h2>
        </div>
        <div class="col-md-10" data-aos="fade-up">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Search" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="top-separator" data-aos="fade-up"></div>
      <div class="post-row">
        {% for post in site.posts %}
        <div class="article"> 
            <img src="{{ post.image }}">
          <h4>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h4>
          <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
          <p class="excerpt">
            {{ post.excerpt | strip_html | truncate: 160 }}
          </p>
        </div>
        {% endfor %}
      </div>
      </div>
      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="page-previous">&laquo; Prev</a>
        {% endif %} {% for page in (1..paginator.total_pages) %} {% if page ==
        paginator.page %}
        <span class="page-number current">{{ page }}</span>
        {% else %} {% if page == 1 %}
        <a href="/posts/" class="page-number">1</a>
        {% else %}
        <a href="{{ '/posts/' | append: page }}" class="page-number">{{ page }}</a>
        {% endif %} {% endif %} {% endfor %} {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="page-next">Next &raquo;</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

  {% include footer.html %} {% include arrowup.html %} {% include JSfiles.html
  %}
</body>

</html>