---
---

<!DOCTYPE html>
<html lang="en">

<head>

  {% include head.html %}

  <!-- Template Main CSS File -->
  <link href="/assets/css/navbar.css" rel="stylesheet" />
  <link href="/assets/css/style.css" rel="stylesheet" />


</head>


<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->

  <!-- ======= Header ======= -->

  <header>
    {% include header.html %}
  </header>


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div id="particles-js"></div>
      <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <div>
          <h1>Jean Penso</h1>
          <p><span class="typed" data-typed-items="Security Engineer, Ethical Hacker, Programmer"></span></p>
        </div>
        <div class="profile-pic">
          <img src="/assets/img/jean.jpg" alt="Profile Picture">
        </div>
      </div>
    </section>

    <!-- End Hero -->

    <main id="main">

      <!-- ======= Posts Section ======= -->
      <section id="posts" class="posts section-bg">
        <div class="container">

          <div class="section-title">
            <h2>Recent Posts</h2>
          </div>

          <div class="row" data-aos="fade-up">
            <!-- Second column for the text and gif -->
            <div class="col-md-4 about" data-aos="fade-up">
              <div class="about-inner-box" data-aos="fade-up">
                <img src="assets/img/Devvortex.png" alt="">
              </div>
            </div>
            <div class="col-md-4 about" data-aos="fade-up">
              <div class="about-inner-box" data-aos="fade-up">
                <img src="assets/img/Devvortex.png" alt="">
              </div>
            </div>
            <div class="col-md-4 about" data-aos="fade-up">
              <div class="about-inner-box" data-aos="fade-up">
                <img src="assets/img/Devvortex.png" alt="">
              </div>
            </div>
          </div> <!-- End of row -->
        </div>
      </section>

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About Me</h2>
          </div>

          <!-- Add a row here to contain the columns -->
          <div class="row" data-aos="fade-up">
            <!-- Second column for the text and gif -->
            <div class="col-md-12 about" data-aos="fade-up">
              <div class="about-inner-box" data-aos="fade-up">
                <p>
                  I'm Jean Penso, a computer scientist by day, ethical hacker by night.
                  When I'm not coding or scripting, I'm diving into cloud computing or untangling the mysteries of
                  pentesting.
                  Currently, I'm learning assembly language, because who needs normal hobbies? In the world of tech and
                  cybersecurity,
                  I'm like a kid, always curious for learning something new.
                </p>
              </div>
            </div>
          </div> <!-- End of row -->
        </div>
      </section>

      <!-- End About Section -->

    </main><!-- End #main -->



    {% include footer.html %}

    {% include arrowup.html %}

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    {% include JSfiles.html %}



</body>

</html>