---
---

<!DOCTYPE html>
<html lang="en">

<head>

  {% include head.html %}

  <!-- Template Main CSS File -->
  <link href="/assets/css/navbar.css" rel="stylesheet" />
  <link href="/assets/css/style.css" rel="stylesheet" />


</head>


<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->

  <!-- ======= Header ======= -->

  <header>
    {% include navbar.html %}
  </header>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div id="particles-js"></div>
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <div>
        <h1>Jean Penso</h1>
        <p><span class="typed" data-typed-items="Security Engineer, Ethical Hacker, Programmer"></span></p>
      </div>
      <div class="profile-pic">
        <img src="/assets/img/jean.jpg" alt="Profile Picture">
      </div>
    </div>
  </section>

  <!-- End Hero -->

  <main id="main" class="main-content">

    <!-- ======= Posts Section ======= -->
    <section id="posts" class="posts section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Recent Posts</h2>
        </div>
        <div class="posts-container" data-aos="fade-up">
          {% for post in site.posts limit: 3 %}
          <a href="{{ post.url | relative_url }}">
          <div class="post-homepage" data-aos="fade-up">
            <img src="{{ post.image }}">
          <h4>
            {{ post.title }}
          </h4>
          </div>
          </a>
          {% endfor %}
        </div> <!-- End of row -->
      </div>
    </section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About Me</h2>
        </div>

        <!-- Add a row here to contain the columns -->
        <div class="row" data-aos="fade-up">
          <!-- Second column for the text and gif -->
          <div class="col-md-12 about" data-aos="fade-up">
            <p>
              I'm a computer scientist diving deep into cybersecurity. My experience revolves mainly around software engineering, security automation, and pentesting. I love coding, offensive security, and anything that has to do with computers down to the most granular detail. Penetration testing is where I really geek out. Always tinkering with new ways to keep systems secure and stay ahead in this fast-paced field.
            </p>
          </div>
        </div> <!-- End of row -->
      </div>
    </section>

    <!-- End About Section -->

  </main><!-- End #main -->



  {% include footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

  {% include JSfiles.html %}



</body>

</html>